		<ul class="navbar-nav text-uppercase ml-auto d-block">
			<li class="nav-item admin-link">
				<a class="nav-link" href="/admin">Admin</a>
			</li>
			<li class="nav-item admin-link">
				<a class="nav-link" href="/admin/categories">Categories</a>
			</li>
			<li class="nav-item admin-link">
				<a class="nav-link" href="/">Link 3</a>
			</li>
		</ul>